<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no">
    <title>React Example</title>
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
    <!-- Import Matrial UI Depencencies-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!-- / Import Matrial UI Depencencies-->
  </head>
  <body style="padding: 0; margin: 0;">
    <div id="app"></div>
    <script src="<%=htmlWebpackPlugin.files.chunks.main.entry %>"></script>
  </body>
</html>
